.title{
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 5vw;
    left: 31vw;
}


.score {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 3vw;
    left: 50vw;
    top: 4vw;
}

.grid-container {
    position: absolute;
    left: 30vw;
    top: 8vw;
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 8vw;
    grid-template-rows: 8vw 8vw 8vw 8vw;
}

.grid-item {
    background-color: rgba(2048, 2048, 2048, 0.8);
    border: .1vw solid rgba(0, 0, 0, 0.8);
    padding: 2.5vw;
    font-size: 2vw;
    text-align: center;
}

.reset {
    position: absolute;
    left: 43.5vw;
    top: 42vw;
    padding: 1vw;
}

